div.jumbotron{
background-color: transparent
}
div.text{
    display: flex;
    flex-direction: column;
    background-color: tomato !important;
}
h1{
    color: white;
    position: relative;
    bottom: 30px;

}
i{
    margin-right: 10px;
}
p.jumbo{
    text-align: center;
   
    color: whitesmoke !important
}