input{
    width: 500px;
}

div{
    text-align: center;
}

div.display{
    margin-top: 50px;
}
div.list-overflow-container{
    margin-top: 25px;
}

p{
    text-align: left;
}

button.btn.btn-success{
    position: relative;
    right: 25px;
    bottom: 35px;
}