input{
    width: 500px;
    border-radius: 12px;
}
button{
    border-radius: 12px;
}
button:hover{
    background-color: cadetblue;
}

div{
    text-align: center;
}

div.display{
    margin-top: 50px;
}
h1.defaultMsg{
    color: black !important;
}
div.list-overflow-container{
    margin-top: 25px;
}

p{
    text-align: left;
}

button.btn.btn-success{
    position: relative;
    right: 25px;
    bottom: 35px;
}

span.delete-btn{
    position: relative;
    bottom: 230px;
    right: 15px;
    font-size: 50px;
}
span.delete-btn:hover{
    color: yellow;
}

div.thumbnail{
    position: relative;
    top: 25px;
}