input{
    width: 500px;
}

div{
    text-align: center;
}

div.display{
    margin-top: 50px;
}
div.list-overflow-container{
    margin-top: 25px;
}

p{
    text-align: left;
}

button.btn.btn-success{
    position: relative;
    right: 25px;
    bottom: 35px;
}

span.delete-btn{
    position: relative;
    bottom: 230px;
    right: 15px;
    font-size: 50px;
}
span.delete-btn:hover{
    color: yellow;
}

div.thumbnail{
    position: relative;
    top: 25px;
}
h1.color{
    color: red !important;
}

form.registerForm{
    height: 400px;
}